$main-back-color: rgb(205, 224, 252);
$primary-color: rgb(9, 151, 187);
$secdary-color: rgb(11, 23, 36);
$font-statck: Helvetica, sans-serif;

body{
    background-color: $main-back-color;
    font: $font-statck;

    .headerBox{
        margin-top: 25px;

        background-color: $secdary-color;
        border-radius: 8px 8px 0px 0px;
        color: white;
        box-shadow: 0px 3px 2px grey;
        padding: 5px;

        h2{
            margin: 0px;

        }
    }
}

.NavBarBody{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $secdary-color;
        overflow: hidden;
    }

    li{
        float: right;

        a{
            display: block;
            color: $primary-color;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a:hover{
            background-color: #111;

        }
    }
}

.formLabel{
    width: 140px;
}

.formLine{
    margin: 10px 0px;
    width: 100%;
}

.loginBody{
    padding-top: 50px;
    text-align: center;

    .loginForm{
        text-align: center;
        background-color: aliceblue;
        border-radius: 8px;
        padding: 20px;
        // max-width: 500px;

        h2{
            padding-top: 0;
        }

        

        // a{
        //     display: block;
        // }
    }
}

.myEventsBody{

    .attendingBody{
        background-color: $primary-color;
        border: 2px black solid;
        border-radius: 4px;
        .attendingElement{
            border: 2px black solid;
            border-radius: 4px;
            color: $secdary-color;
            background-color: aliceblue;

        }
    }


}

.FindPickUpBody{


    .mapNews{
        // position: relative;

        .mapBody{
            position: relative;
            height: 325px;

            .mapReal{
                position: relative;
                border: 2px $secdary-color solid;
                border-radius: 4px;
                height: 100% !important;
                width: 100%;
                // border: $primary-color 30px solid;
            }
        }
    }

    .newsFeed{
        border: 1px $secdary-color solid;
        border-radius: 0px 0px 8px 8px;
        background-color: cornsilk;
        // margin: 10px 0px;
        // margin-top: 300px !important;

        .aEventBox{
            background-color: cornsilk;
            margin: 5px;
            // padding: 20px;
            border: 1px $secdary-color solid;
            box-shadow: 0px 3px 2px grey;
            border-radius: 8px;

            .textSide{
                margin: 0;
                padding: 0;

                .cardTitle{
                    border-radius: 8px 8px 0px 0px;
                    // border: 2px solid $secdary-color;
                    margin: 0px;
                    padding: 5px;
                    width: 100%;
                    background-color: $primary-color;
                    color: cornsilk;

                }
            }

            .cardBody{
                margin-bottom: 5px;
                padding: 10px !important;
   
                .cardText{
                    p{ padding: 10px; }
                    .inputGroup{
                        ::placeholder{
                            color: $secdary-color;
                        }
                    }
                }           
            }

            .cardButton{
                margin-top: 5px;
                height: 100% !important;
            }


        }
    }

    .modalBackDrop{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);
        padding: 0;
        z-index: 10;
    
        .modalForeDrop{
            position: relative;
            background: white;
            border-radius: 8px;
            max-width: 80%;
            min-height: 40%;
            margin: 10% auto 0px;
            padding: 20px;
            text-align: center;
    
        }
    }

}

